<h3>Дерево пространств</h3>
<div *ngFor="let i of spaces">
  <div (click)="getThemes(i.id)" class="list-group" role="tablist">
    <div class="list-group-item">
      <i class="material-icons align-middle">
        grade
      </i>
      {{i.name}}
    </div>
    <div *ngIf="clickId != 0" >
    <div *ngFor="let j of themes" >
      <div *ngIf="clickId != 0 && j.theme === i.id && i.id == clickId" class="list-group" role="tablist">
        <div class="list-group-item" (click)="getArticles()">
          <div class="ml-3">
            <i class="material-icons align-middle">
              bookmarks
            </i>
            {{j.name}}
          </div>
          <div *ngFor="let f of articles">
            <div *ngIf="f.theme == j.id">
              <div class="list-group-item mt-1" (click)="choseArt(f.text)">
                <div class="ml-3">
                <i class="material-icons align-middle">
                  bookmark_border
                </i>
              {{f.name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
